.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env
env*
dist
build
*.egg
*.egg-info
_mailinglist
.tox
.cache/
.idea/
# normally this would be hidden but we care about expediency
# config/secrets.py
venv

# Coverage reports
htmlcov
.coverage
.coverage.*
*,cover
